.panel h2 {
  margin-top: 5px;
}

.panel .panel-heading {
  cursor: pointer;
}

.panel .panel-collapse {
  overflow: hidden;
  transition: height 300ms ease-out;
}

.panel .panel-body {
  border: none;
}

.panel{
  margin: 1rem;
  margin-left: 2rem;
}