.forms {
  padding: 0.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  border-radius: 5px;
  border: solid pink 1px;
  gap: 1rem;
}

.forms input,
.forms textarea {
  font-size: 1rem;
  max-width: 15rem;
  border-radius: 5px;
  border-style: none;
  background-color: aliceblue;
}

.forms textarea {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.forms input:focus,
.forms textarea:focus {
  border: none;
  background-color: rgb(203, 229, 252);
  outline: none;
}

.forms input:active {
  border: none;
}

/* FORM LEGEND AND ARROW STYLES */

.form-legend {
  max-width: 30rem;
}

.form-legend legend {
  display: flex;
  justify-content: space-between;
}

.arrow-background {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.arrow {
  position: relative;
  max-width: 1rem;
  max-height: 1rem;
  margin-left: 0.25rem;
}

.arrow-toggle {
  display: none;
  /* width: 1rem;
  height: 1rem;  */
}

.arrow-toggle-label {
  position: absolute;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.arrow-toggle-label::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.arrow-background:hover .arrow::after {
  transform: rotate(-120deg);
  transition: transform 400ms ease-in;
}
.arrow-toggle:checked ~ .arrow-toggle-label .arrow::after {
  transform: rotate(-120deg);
}

.arrow-toggle:checked ~ .arrow-toggle-label .arrow::before {
  transform: rotate(120deg);
}

.arrow-background:hover .arrow::before {
  transform: rotate(120deg);
  transition: transform 400ms ease-in;
}

.arrow-background .arrow::after,
.arrow-background .arrow::before {
  transition: transform 400ms ease-out;
}

/* add transition to a parent of .arrow::before .arrow::after
that way can be on a less specific area, i.e the whole legend or the corner */

.arrow::before,
.arrow::after {
  content: "";
  height: 2px;
  background-color: black;
  position: absolute;
  width: 1rem;
  border-radius: 5px;
  translate: -50%;
  text-align: center;
  top: 25%;
  transition: transfrom 300ms ease-out;
}

.arrow::after {
  rotate: 60deg;
  translate: -1%; /* don't get the minus one percent..? */
}
.arrow::before {
  rotate: -60deg;
}

/* TRANSITION STTLES, ENTER AND EXIT */
.form-transition-enter {
  transform: scale(1, 0);
}

.form-transition-enter-active {
  transform: scale(1, 1);
  transition: transform 500ms ease-in;
  transform-origin: bottom;
}
.form-transition-enter-done {
  transform: scale(1, 1);
}

.form-transition-exit {
  transform: scale(1, 1);
}

.form-transition-exit-active {
  transform: scale(1, 0);
  transition: transform 500ms ease-out;
}

.form-transition-exit-done {
  transform: scale(1, 0);
}

.forms-container {
  border: solid blue 1px;
  border-radius: 10px;
  max-width: 30rem;
  transform-origin: top;
}

.dates {
  display: flex;
  justify-content: space-between;
}
