.cv {
  min-width: 50rem;
  min-height: 100vh;
  border: solid black 1px;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.header {
  margin-top: 0;
  width: 93%;
  align-self: center;
  min-height: 15vh;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  padding: 0;
  border-bottom: solid black 1px;
}
.header .header-left,
.header .header-right {
  padding-top: 2rem;
}

.about {
  min-height: 15vh;
  background-color: beige;
  padding: 2rem;
  max-width: 50rem;
  overflow-wrap: break-word;
}

.professional-container {
  min-height: 15vh;
  background-color: pink;
  padding: 2rem;
}

.professional {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "deatils description";
  justify-content: space-between;
}

.professional-details {
  grid-area: details;
}

.professional-description {
  grid-area: description;
}

.hidden-button {
  opacity: 0;
  transition: opacity 400ms ease-out;
}

.professional:hover .hidden-button {
  opacity: 1;
  transition: opacity 400ms ease-out;
}

