#root {
  max-width: 1280px;
}

p {
  margin: 0.25rem;
  font-size: 1rem;
}

.whole {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "forms display";
  padding: 2rem;
}

.forms-container {
  border: solid blue 1px;
  border-radius: 10px;
  max-width: 30rem;
}

.forms {
  grid-area: "forms";
}

.preview {
  grid-area: "display";
}
