#root {
  max-width: 1280px;
}

.whole {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "forms display";
  padding: 2rem;
}

.forms {
  grid-area: "forms";
}

.preview {
  grid-area: "display";
}

/* .detailsForm {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 30rem;
  border: solid black 1px;
  padding: 0.25rem;
  gap: 1rem;
} */

input:focus {
  border: none;
  border-style: none;
  background-color: aliceblue;
  outline: none;
}

input:active {
  border: none;
}
