#root {
  max-width: 1280px;
}

p {
  margin: 0.25rem;
  font-size: 1rem;
}

/* .whole {
  display: grid;
  
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "forms display";
  padding: 2rem;
} */

.whole {
  display: flex;
  flex-direction: column;
}

.forms {
  grid-area: "forms";
}

.preview {
  grid-area: "display";
}
